 <div class="row justify-content-center">
   <h3>会員一覧</h3>
 </div>
 <div class="row justify-content-center mt-2">
   <table>
     <tr>
       <th>写真</th>
       <th>年齢</th>
       <th>年齢</th>
     </tr>
     <% @customerts.each do |customer| %>
     <tr>
       <td><%= customer.get_customer_image, size: "200×200" %></td>
       <td><%= customer.name %></td>
       <td><%= customer.age %></td>
     </tr>
     <% end %>
   </table>
  </div>